/* ---------- IMPORT A FONT LIBRARY ---------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* ---------- COLOR THEME SWATCHES IN HEX ---------- */
.DT159G-1-1-hex { color: #4A6D8C; }
.DT159G-1-2-hex { color: #C5D1D9; }
.DT159G-1-3-hex { color: #5F7364; }
.DT159G-1-4-hex { color: #0E1205; }
.DT159G-1-5-hex { color: #FFFFFF; }

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

body,html {
    overflow-x: hidden;
    background: #FFFFFF;
}

.header {
    background-color: #C5D1D9;
    color: #4A6D8C;
    min-height: 80px;
    text-transform: uppercase;
}

.section {
    background-color: #FFFFFF;
    min-height: 700px;
}

.footer {
    background-color: #C5D1D9;
    min-height: 200px;
}

/* ---------- STYLING AND FUNCTION FOR THE NAVIGATION MENU ---------- */
.navmenu {
    position: fixed;
    top: 0;
    left: -110%;
    height: 90%;
    width: 90%;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    padding: 0 10%;
}

#nav-toggler {
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 1010;
    font: 3rem;
}

#nav-toggler:checked::before {
    content: '\f00d';
    color: #fff;
    transition: .2s linear .2s;
}

#nav-toggler:checked ~ .navmenu {
    left: 0;
}

.navmenu a {
    font-size: 4em;
    color: transparent;
    -webkit-text-stroke: .5px #D9CFCC;
    font-weight: bolder;
    position: relative;
    letter-spacing: 3px;
}

.navmenu a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #C5D1D9;
    transition: .3s linear;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navmenu a:hover::before {
    clip-path: polygon(0 0, 100% 0, 99% 100%, 0% 100%);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0E1205 no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.navmenu a:hover:nth-child(1) ~ .background-image {
    background: lightgoldenrodyellow;
    background-size: cover;
    background-position: center;
}

.navmenu a:hover:nth-child(2) ~ .background-image {
    background: lightsalmon;
    background-size: cover;
    background-position: center;
}

.navmenu a:hover:nth-child(3) ~ .background-image {
    background: lightgreen;
    background-size: cover;
    background-position: center;
}

/* ---------- ADJUSTING BASED ON SCREEN-SIZE ---------- */
@media (max-width: 768px){
    .navmenu a {
        font-size: 3em;
    }
}
@media (max-width: 450px){
    .navmenu a {
        font-size: 2em;
    }
}