/* ---------- COLOR THEME SWATCHES IN HEX ---------- */
.DT159G-1-1-hex { color: #4A6D8C; }
.DT159G-1-2-hex { color: #C5D1D9; }
.DT159G-1-3-hex { color: #5F7364; }
.DT159G-1-4-hex { color: #0E1205; }
.DT159G-1-5-hex { color: #D9CFCC; }

/* ---------- HERE ARE ALL CONTAINERS, BOXES, ETC. ---------- */
.container {
    display:grid;
    grid-template-columns: 25% 75%;
    grid-row: auto;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
   }

.sidebar {
    background-color: red;
    min-height: 700px;
}

.maincontent {
    background-color: yellow;
    min-height: 700px;
}